# For LaTeX
*.amc
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.log
*.nav
*.out
*.run.xml
*.snm
*.spl
*.synctex.gz
*.tdo
*.toc
*.vrb
*.vtc
.kile

# Fichiers temporaires de sauvegarde
*~

# IDE
*.code-workspace

# NOTE: might be enabled or disabled depending on the context
*.pdf

# For IMITATOR outputs
*.ps
*.res
*.states

# For Java
*.class




# Ignore Maven build outputs
target/logs2imi-*.jar
target/maven-archiver/
target/maven-status/

# Ignore VS Code workspace settings
.vscode/
